<!DOCTYPE html>
<html>
	<head>
		<title>Email Verification</title>
	</head>
	<body>
		<div style="width: 100%; height: 100%">
			<div style="line-height: 18px;
									font-family: Helvetica, Arial, sans-serif;
									margin: 0 auto;
									width: 45%;">
				<div style="display: flex; justify-content: space-between;">
					<span style="font-size: 30px">postit</span>	
					<a style="text-decoration: none" href="{{ clientUrl }}/user/{{ username }}"><span style="color: #7A9299; font-size: 10px">u/{{ username }}</span></a>
				</div>
				<br />
				<br />
				<p style="color: #000">
					<div>
						Hi there,
					</div>
					<br />
					<div>
						Your email address {{ email }} has been added to your
						<br />
						{{ username }} Postit account. But wait, we’re not done yet...
					</div>
					<br />
					<div>
						To finish verifying your email address and securing your account, click the
						<br />
						button below.
					</div>
				</p>
				<div style="display: flex; justify-content: center; margin-top: 30px;">
				<a
					href="{{ clientUrl }}/verification/{{ base64String }}"
					style="background: #0079D3;
								 border-radius: 4px;
								 font-size: 12px;
								 font-weight: 700;
								 padding: 8px;
								 text-align: center;
								 text-decoration: none;"
				>
					<span style="color: #FFF; padding: 0 22px;">
						Verify Email Address
					</span>
				</a>
			</div>
		</div>
	</body>
</html>

